RewriteEngine On

# URLs amigables per a .php
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.+)$ $1.php [L]

# Bloquejar /private
RewriteRule ^private/ - [F,L]
